<body class="my-team-member-back">

  <%= render 'users/header' %>
  <%= render 'users/footer' %>
  <div class="team_member-main">


        <div>チーム情報編集</div>


        <%= form_for(@team) do |f| %>
            <div>
                <%= f.attachment_field :team_image %>
            </div>

            <div>
            	<h5>チーム名</h5>
            	<%= f.text_field :team_name %>
            </div>
            <div>
        		<h5>チーム紹介</h5>
        		<%= f.text_field :team_introduction %>
        	</div>
        	<div>
        		<h5>年齢層</h5>
        		<%= f.text_field :age_range %>
        	</div>



            <%= f.submit %>
            <% end %>
            <%= link_to "戻る", team_path(@team.id), class: "back-link" %>
    </div>
</body>
