
<%= form_with(model: moto_info, local: true) do |form| %>
  <% if moto_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(moto_info.errors.count, "error") %> prohibited this moto_info from being saved:</h2>

      <ul>
      <% moto_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :maker_name, "メーカー" %>
    <%= form.text_field :maker_name %>
  </div>

  <div class="field">
    <%= form.label :moto_name, "バイク名" %>
    <%= form.text_field :moto_name %>
  </div>

  <div class="field">
    <%= form.label :volume, "排気量" %>
    <%= form.text_field :volume %>
  </div>

  <div class="field">
    <%= form.label :is_own,"バイクをお持ちですか？" %>
    <%= form.select :is_own, [["持っている", true], ["持っていない", false]] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>