<p id="notice"><%= notice %></p>

<h1>Moto Infos</h1>

<table>
  <thead>
    <tr>
      <th>Maker name</th>
      <th>Moto name</th>
      <th>Volume</th>
      <th>Is own</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moto_infos.each do |moto_info| %>
      <tr>
        <td><%= moto_info.maker_name %></td>
        <td><%= moto_info.moto_name %></td>
        <td><%= moto_info.volume %></td>
        <td><%= moto_info.is_own %></td>
        <td><%= link_to 'Show', moto_info %></td>
        <td><%= link_to 'Edit', edit_moto_info_path(moto_info) %></td>
        <td><%= link_to 'Destroy', moto_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moto Info', new_moto_info_path %>
