<p id="notice"><%= notice %></p>

<p>
  <strong>Maker name:</strong>
  <%= @moto_info.maker_name %>
</p>

<p>
  <strong>Moto name:</strong>
  <%= @moto_info.moto_name %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @moto_info.volume %>
</p>

<p>
  <strong>Is own:</strong>
  <%= @moto_info.is_own %>
</p>

<%= link_to 'Edit', edit_moto_info_path(@moto_info) %> |
<%= link_to 'Back', moto_infos_path %>
