

<div class="main-visual">
  <%= link_to "HELLO MOTO", root_path, class: "logo-in" %>
  <div class="new-body">
    <div class="new-text-box">
      <h2 class="log-in-title">仲間を見つけに行こう！</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="sign-email-box">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "email_pass_field"  %>
          </div>
        </div>
        <div class="sign-password-box">
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password",class: "email_pass_field" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field remenber-field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in",class: "btn-sign" %>
        </div>
      <% end %>
      <div class="sign-text">
        アカウントをお持ちではないですか？
      </div>
      <div class="sign-link">
          <%= link_to "新規登録へ", new_user_registration_path, class:"sign-link-text" %>
      </div>
    </div>
  </div>
</div>
