<body class="my-page-back">
    <%= render 'users/header' %>
    <div class="profile-main-cancel">
		<%= form_for(@user) do |f| %>
			<div class="container text-center quit">
				<h1>退会確認</h1>
				<label><%= f.radio_button :is_deleted, "false" %>退会しない</label>
				<label><%= f.radio_button :is_deleted, "true"  %>退会する</label>
				<%= f.submit '決定' %>
			</div>
		<% end %>
    </div>
    <%= render 'users/footer' %>
</div>