<body class="my-page-back">
  <%= render 'users/header' %>
    <div class="profile-main-edit">
	ユーザー編集


	<%= form_for(@user) do |f| %>
	    <div>
	        <%= f.attachment_field :profile_image %>
	    </div>

		<div>
			<h5>ユーザーID</h5>
			<%= f.text_field :user_name%>
		</div>

		<div>
			<h5>ニックネーム</h5>
			<%= f.text_field :nickname%>
		</div>

	    <div class="field">都道府県<br>
	        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
	    </div>



		<div>
			<h5>自己紹介(40文字以内)</h5>
			<%= f.text_area :user_introduction %>
		</div>




		<%= f.submit '確定'%>
		<% end %>
		<%= link_to "マイページへ戻る", user_path(current_user), class: "back_to_mypage" %><br>
		<%= link_to "退会する", cancel_path, class: "back_to_mypage" %>

		
	</div>
<%= render 'users/footer' %>
</body>