ユーザー編集


<%= form_for(@user) do |f| %>
    <div>
        <%= f.attachment_field :profile_image %>
    </div>

	<div>
		<h5>本名</h5>
		<%= f.text_field :user_name%>
	</div>

	<div>
		<h5>ニックネーム</h5>
		<%= f.text_field :nickname%>
	</div>

    <div class="field">都道府県<br>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
    </div>


  <div class="field">
    <%= f.label :sex, "性別" %><br />
    <%= f.label :man, "男" %>
    <%= f.radio_button :sex, :man %>
    <%= f.label :woman,"女" %>
    <%= f.radio_button :sex, :woman %>
  </div>

	<div>
		<h5>自己紹介</h5>
		<%= f.text_area :user_introduction %>
	</div>




	<%= f.submit '確定'%>
	<% end %>