<body class="my-page-back">
  <%= render 'users/header' %>
  <%= render 'users/footer' %>


  <div class="profile-main">
      <%= attachment_image_tag @user, :profile_image, :fill, 200, 200,fallback: "no_image.jpg",size: '150x150',class: "top_image" %>
    <div class="my-page-name"><%= @user.nickname %> #<%= @user.user_name %></div>
    <div class="name-border"></div>
    <% if @user == current_user %>



      <%= link_to edit_user_path , class: "mypage-button" do %>
        <i class="fas fa-edit">編集</i>
      <% end %>

    <br>
    <div class="my-region">活動地域:<%= @user.prefecture.name %></div>
    <div class="my-introduction">
      <div class="intro-text">自己紹介</div>
      <br>
      <div class="intro-text-main"><%= @user.user_introduction %></div>
    </div>
    <div class="border-moto-info"></div>
    <div class="moto-info">
      <div class="moto-info-title">自分のバイク</div>
      <table class="moto-info-table">
        <thead>
          <tr>
            <th class="moto-info-th"></th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @moto_infos.each do |moto_info| %>
            <tr  class="moto-info">
              <td class="moto-info-th"><%= moto_info.maker_name %></td>
              <td class="moto-info-th"><%= moto_info.moto_name %></td>
              <td class="moto-info-th"><%= moto_info.volume %>cc</td>
              <td class="moto-info-th">
                <div class="moto-info-delete-box">
                  <%= link_to '車両を削除', moto_info, method: :delete, data: { confirm: '削除しますか?' } , class: "moto-info-delete" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="moto-info-add-box">
          <%= link_to new_moto_info_path(current_user), class: "moto-info-add" do %>
            <i class="fas fa-plus-circle">車両を追加</i>
          <% end %>
      </div>
    </div>
    <div class="log-out-box">
      <%= link_to  destroy_user_session_path, method: :delete,class: "my_logout_btn" do %>
        <i class="fas fa-sign-out-alt">ログアウト</i>
      <% end %>
    </div>
  </div>
  <% else %>

  <%= link_to "メッセージ", room_create_path(@user.id), method:'POST',class: "message-btn" %>

  <div class="my-region">活動地域:<%= @user.prefecture.name %></div>
    <div class="my-introduction">
      <div class="intro-text">自己紹介</div>
      <br>
      <div class="intro-text-main"><%= @user.user_introduction %></div>
    </div>
  <div class="border-moto-info"></div>
  <table class="moto-info-table">
    <thead>
      <tr>
        <th class="moto-info-th"></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @moto_infos.each do |moto_info| %>
        <tr  class="moto-info">
          <td class="moto-info-th"><%= moto_info.maker_name %></td>
          <td class="moto-info-th"><%= moto_info.moto_name %></td>
          <td class="moto-info-th"><%= moto_info.volume %>cc</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% end %>

</body>