<body class="my-page-back">



  <div class="profile-main">
      <%= attachment_image_tag @user, :profile_image, :fill, 200, 200,fallback: "no_image.jpg",size: '150x150',class: "top_image" %>
    <div class="my-page-name"><%= @user.nickname %></div>
    <div class="name-border"></div>
    <% if @user == current_user %>

      <%= button_to "編集", {controller: 'users', action: 'edit'}, {method: :get, class: "mypage-button"}  %>
    <br>
    <div class="my-region">活動地域:<%= @user.prefecture.name %> <%= @user.sex == "man"? "男性" :"女性" %></div>
    <div class="my-introduction">
      <div class="intro-text">自己紹介</div>
      <br>
      <div class="intro-text-main"><%= @user.user_introduction %></div>
    </div>
    <div class="border-moto-info"></div>
    <div class="moto-info">
      <div class="moto-info-title">自分のバイク</div>
      <%= link_to '車両を追加', new_moto_info_path(current_user) %>
      <table>
        <thead>
          <tr>
            <th class="moto-info-th"></th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @moto_infos.each do |moto_info| %>
            <tr  class="moto-info">
              <td class="moto-info-th"><%= moto_info.maker_name %></td>
              <td class="moto-info-th"><%= moto_info.moto_name %></td>
              <td class="moto-info-th"><%= moto_info.volume %>cc</td>
              <td class="moto-info-th"><%= link_to '車両を削除', moto_info, method: :delete, data: { confirm: '削除しますか?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>本名<%= @user.user_name %></div>
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete,class: "my_logout_btn" %>
  </div>
  <% else %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @moto_infos.each do |moto_info| %>
        <tr>
          <td><%= moto_info.maker_name %></td>
          <td><%= moto_info.moto_name %></td>
          <td><%= moto_info.volume %></td>
          <td></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "メッセージを送る", room_create_path(@user.id), method:'POST' %>


  <div>ニックネーム<%= @user.nickname %></div>
  <div>性別<%= @user.sex %></div>
  <div>住所<%= @user.prefecture.name %></div>
  <div>自己紹介<%= @user.user_introduction %></div>
  <div>自己紹介<%= @user.sex %></div>

  <% end %>


</body>