<%= attachment_image_tag @tourings, :touring_image, :fill, 60,  60 ,fallback: "no_image.jpg",size: '150x150' %><br>
<p><%= @tourings.touring_name %></p><br>
<p><%= @tourings.team.team_name %></p><br>
<p>行き先:<%= @tourings.destination %></p><br>
<p>日にち、待ち合わせ時間:<%= @tourings.touring_date %></p><br>
<p>詳細:<%= @tourings.touring_detail %></p><br>
<p>責任者:<%= @tourings.user.user_name %></p><br>

<% unless TouringMember.is_member?(@tourings, current_user) %>
	<%= link_to "参加する", team_touring_touring_members_path(@tourings.team, @tourings), method: :POST %>
	<% else  %>
	<%= link_to "参加取り消し", team_touring_touring_member_path(@tourings.team, @tourings, @touring_member), method: :DELETE %>
<% end %>


<%= link_to "一覧へ戻る", team_tourings_path(@tourings.team_id) %>
<%= link_to "編集する",  edit_team_touring_path(@tourings.team_id) %>


<p>メンバー一覧</p>


<h1>Chat room</h1>

<div id="message_tourings">
  <%= render @messages %>
</div>





