<div class="touring-back">
    <%= render 'users/header' %>
  <div class="team-main">
  <%= attachment_image_tag @tourings, :touring_image, :fill, 60,  60 ,fallback: "no_image.jpg",size: '150x150',class: "touring-top-image "  %><br>
  <p class="team-page-name"><%= @tourings.touring_name %></p><br>
  <div class="touring-box">
<!--     <p><%= @tourings.team.team_name %></p><br> -->
    <p>行き先:<%= @tourings.destination %></p><br>
    <p>日にち、待ち合わせ時間:<%= @tourings.touring_date %></p><br>
    <p>詳細:<br><%= @tourings.touring_detail %></p><br>
    <p>責任者:<%= @tourings.user.nickname %></p><br>
    <p>待ち合わせ場所<%= @tourings.meet %></p><br>
    <% unless TouringMember.is_member?(@tourings, current_user) %>
    	<%= link_to team_touring_touring_members_path(@tourings.team, @tourings), method: :POST,class: "back-link" do %>
        <i class="fas fa-user-plus">参加する</i>
    <% end %>
    	<% else  %>
    	<%= link_to team_touring_touring_member_path(@tourings.team, @tourings, @touring_member), method: :DELETE,class: "touring-des " do %>
        <i class="fas fa-user-minus">参加取り消し</i>
      <% end %>
    <% end %>
    <%= link_to edit_team_touring_path(@tourings.team_id),class: "back-link" do %>
       <i class="fas fa-edit">編集する</i>
    <% end %>
    <%= link_to team_touring_touring_members_path(@tourings.team, @tourings),class: "back-link" do %>
       <i class="fas fa-address-book">参加メンバー</i>
    <% end %>
    </div>
  <div class="map-touring">
    <h2>gmap</h2>


    <div id='map'>
    </div>

    <style>
    #map{
      height: 400px;
      width: 100%;
    }
    </style>

    <script>


    let map
    let geocoder

    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
      });

      codeAddress();
    }
    function codeAddress(){
      // 入力を取得
      let inputAddress = "<%= @tourings.meet %>"

      // geocodingしたあとmapを移動
      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
    　　　　　　　　　　　　// map.setCenterで地図が移動
          map.setCenter(results[0].geometry.location);

    　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLbShDmm__a_FMdqz1EXGpl8ZvKxMKMws&callback=initMap" async defer></script>
  </div>
  <div class="chat-touring">
  <h1>チャット</h1>

  <form>
    <label>何か話してみよう！</label><br>
    <input type="text" data-behavior="room_touring_speaker">
  </form>


  <div id='message_tourings' data-touring_id="<%= @tourings.id %>">
    <%= render @messages %>
  </div>
      <%= link_to "一覧へ戻る", team_tourings_path(@tourings.team_id),class: "back-link" %>
  </div>
</div>
    <%= render 'users/footer' %>
  </div>
